<h3>Login</h3>

<form action="/sessions/create" method="post">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
	<p>Email: <input type="text" name="email"></p>
	<p>Password: <input type="password" name="password"></p>
	<p><input type="submit" value="login"></p>
</form>
